<nz-row nzGutter="5">
  <nz-col [nzSm]="24"  [nzXs]="24">
    <article nz-typography style="padding: 40px;">
        <strong>
            <span nz-typography>
              <i nz-icon nzType="caret-right"></i> I started programming with C & C++  in 2017  then I jumped to Angular & Node.js with HTML & CSS & Typescript  for Web App development and now I am working with Angular,Node.js.
            </span><br/>

        <span nz-typography>
          <i nz-icon nzType="caret-right"></i> I've built web application from the scratch both  Frontend & Backend.
        </span><br/>

        <span nz-typography>
          <i nz-icon nzType="caret-right"></i> Apart from web development, still I love Java
        </span> 

    </strong>

    </article><br/>

</nz-col>
    <nz-col [nzSm]="12" [nzXs]="24">

        <nz-list  >
            <nz-list-item *ngFor="let data of skillsData">
              <ng-container>
                <nz-list-item-meta [nzAvatar]="avaterIcon">
                  <nz-list-item-meta-title>{{data.title}}</nz-list-item-meta-title>
                </nz-list-item-meta>
              </ng-container>
                <div style="width: 300px;">
                  {{data.skills}}
                </div>
            </nz-list-item>

            <nz-list-header style="text-align: center; font-weight: bold; color: var(--color-primary);">SKills</nz-list-header> 
          </nz-list> 
    </nz-col>
    <nz-col [nzSm]="12" [nzXs]="24">
        <nz-list >
            <nz-list-item *ngFor="let data of languvageData">
              <ng-container>
                <nz-list-item-meta [nzAvatar]="avaterIcon">
                  <nz-list-item-meta-title>{{data.languvage}}</nz-list-item-meta-title>
                </nz-list-item-meta>
              </ng-container>
              <nz-list-item-meta-description>
                <div style="width: 300px;">
                  <nz-rate [ngModel]="data.rate" nzDisabled></nz-rate>
                </div>
              </nz-list-item-meta-description>
            </nz-list-item>

            <nz-list-header style="text-align: center; font-weight: bold; color: var(--color-primary);">Spoken Languvage</nz-list-header> 
          </nz-list>

    </nz-col>
</nz-row>
