<nz-row nzGutter="5">
  <nz-col [nzSm]="14" [nzXs]="24">
    <nz-list nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <a>Sun Icon systems Pvt. Ltd, Hyderabad</a>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            Description
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        Content
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
            156
          </nz-list-item-action>
          <nz-list-item-action>
            <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
            156
          </nz-list-item-action>
          <nz-list-item-action>
            <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
            2
          </nz-list-item-action>
        </ul>
        <nz-list-item-extra>
          <!-- image -->
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </nz-col>
  <nz-col [nzSm]="10" [nzXs]="24">
    <img style="width:90%;height:90%;" Src="https://www.aegisinfoways.com/images/dynamic-crm/man.png" />
  </nz-col>
</nz-row>