<nz-row  class="banner" nzGutter="5">
    <nz-col class="max-width" [nzSm]="22" [nzXs]="18">
        <div class="max-width">
            <div class="banner-content">
              <div class="text-1">Hello there,I'm</div>
              <div class="text-2">Dheena</div>
              <div class="text-3">And I'm a <span class="typing">Developer &  Contributor</span></div>
              <a href="#contact">Let's ride</a>
            </div>
          </div>
    </nz-col>
    <nz-col class="anchor" [nzSm]="2" [nzXs]="6">
        <nz-anchor>  
            <nz-link nzHref="#home" nzTitle="Home"></nz-link>
            <nz-link nzHref="#about" nzTitle="About"></nz-link>
            <nz-link nzHref="#proficiency" nzTitle="Proficiency"></nz-link>
            <nz-link nzHref="#project" nzTitle="Project"></nz-link>
            <nz-link nzHref="#contact" nzTitle="Contact"></nz-link>
          </nz-anchor>
    </nz-col>
</nz-row>
