.banner {
    display: flex;
    background-image: url("src/assets/banner.gif")
      background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.banner .max-width {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-content .text-1 {
    font-size: 27px;
    margin-top: 0px;
}
.banner .banner-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.banner .banner-content .text-3 {
    font-size: 40px;
}
.banner .banner-content .text-3 span {
    color: var(--color-tertiary);
}
.banner .banner-content a {
    display: inline-block;
    background: var(--color-pure-black);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--color-pure-black);
    transition: all 0.3s ease;
}
.banner .banner-content a:hover {
    color: var(--color-pure-black);
    background: none;
}
@media (max-width: 947px) {
    .banner .banner-content .text-2 {
        font-size: 70px;
    }
    .banner .banner-content .text-3 {
        font-size: 35px;
    }
    .banner .banner-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
}
@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .banner .banner-content .text-2 {
        font-size: 60px;
    }
    .banner .banner-content .text-3 {
        font-size: 32px;
    }
    .banner .banner-content a {
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .banner .banner-content .text-2 {
        font-size: 50px;
    }
    .banner .banner-content .text-3 {
        font-size: 27px;
    }
}
