/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #0099ff;
  --color-tertiary: #e1f5fe;
  --color-pure-white: white;
  --color-pure-black: black;
}

.indicator {
  border-bottom: 5px solid var(--color-primary);
}
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 500px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media (max-width: 947px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media (max-width: 690px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
